.cardContainer{
    padding: 3rem;
    width: 100%;
}
.content{
    padding: 2.5rem;
    max-width: 1330px;
    display: flex;
    margin: 2rem auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    border-radius: 16px;
    transition: 300ms all linear;
    box-shadow: 0px 0px 2px #e4e4e4;
}


@media (max-width: 530px){
    .cardContainer{
        padding: 0.5rem;
    }
    .content{
        max-width: 100%;
        padding: 0.7rem;
    }
}