.heading{
    text-align: center  ;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    color: #253D5B;
    font-weight: bold;
    padding-top: 1rem;
}
.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    max-width: 1330px;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin: 2rem auto;
    height: 400px;
    flex-wrap: wrap;
}
.tabsHead{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.tabs{
    width: 80px;
    height: 80px;
    align-items: center;
    color: #253D5B;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.active-tabs{
    background: #253D5B;
    color: #eeeeee;
    box-shadow: 0px 0px 15px #253D5B;
}
.content{
    text-align: center;
    display: none;
    width: 400px;
}
.content h3{
    color: #253D5B;
    font-size: 2rem;
}
.container p{
    font-size: 0.7rem;
    color: #0f0f0f;
    font-weight: 400;
}
.active-content{
    display: block;
}
@media (max-width: 430px){
    .content{
        width: 280px;
    }
}