*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EBF5EE;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: #0F0326;
}